html, body {
    overflow-x: hidden;
  }

body {
    position: relative;
    background-image: url("images/pattern-curve.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 10% ;
    color: hsl(240, 38%, 20%);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 2vh;
    text-align: center;
    height: 90vh;
    display: flex;
    align-items: center;
    
}




.photo {
    width: 70vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.3);
    
}

div.photo-wrap {
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url("images/pattern-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
}

.nav {
    display: float;
    position: absolute;
    left: 40%;
    top: 85%;
    padding: 13px 10px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.3);
    cursor: pointer;

}

.nav > * {
    display: inline;
    position: relative;
    padding: 10px 10px 10px 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.prev {
    padding-right: 12px;
}

.next {
    padding-left: 12px;
}

div.testimonial {
    background-image: url("images/pattern-quotes.svg");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: top;    

}

.quote {
    display: block;
    padding: 3vh;
}

.name {
    display: block;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.role {
    display: block;
    color: hsl(240, 18%, 77%);
}

.attribution {
    position: fixed;
    bottom: 0px;
    min-width: 100vw;
    text-align: center;
    padding-top: 50px;
    font-size: xx-small;
    margin-top: auto;
    flex-shrink: 0;
}

@media all and (min-width:600px) {
    .photo {
        width: 50vh;
    }

    body {
        font-size: 3vh;
        display: inline;
    }

    .attribution {
        position: static;
    }
}
@media all and (min-width:1000px) {
    body {
        font-size: 25px;
        text-align: left;
    }

    .wrap {
        
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .photo {
        width: 35vw;
        position: relative;
        right: 50px;
    }

    div.photo-wrap {
        padding: 5%;
    }

    .quote {
        position: relative;
        left: 10vw;
        width: 40vw;
    }

    div.person {
        display: flex;
        position: relative;
        left: 10vw;
        min-width: 40vw;
        justify-content: flex-start;
        font-size: 20px;
        padding-left: 3vh;
    }

    div.person > * {
        padding-right: 1vw;
    }

    .nav {
        display: float;
        position: absolute;
        left: 15%;
        top: 85%;
        padding: 13px 10px;
        background-color: white;
        border-radius: 50px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.3);
        cursor: pointer;
    }   
    
    
    
}