body {
    background-image: url("images/pattern-curve.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 10% ;
    color: hsl(240, 38%, 20%);
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: stretch;
    border: 5px solid yellowgreen;
    /* max-width: 80vw; */
    /* margin: auto; */

}
.wrap {
    display: flex;
    flex-direction: column;
    /* min-width: 800px; */
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    
    
    position: relative;
}

 .wrap > * {
    /* flex: 1 1 auto; */
    
    border: 5px solid goldenrod;
}

.photo {
    width: 90%;
    height: auto;
    border: 5px solid red;
}

div.photo-wrap {
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url("images/pattern-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
}

.nav {
    display: float;
    position: absolute;
    left: 40%;
    top: 85%;
    padding: 12px 10px;
    background-color: white;
    border-radius: 50px;

}

.nav > * {
    display: inline;
    position: relative;
    /* width: 50px;
    height: 50px; */
    padding: 10px 10px 10px 20px;
    /* background-color: white; */
    
}










/*
div.photo-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid goldenrod;
    
    
    padding: 50px;



 */
